#jobs {
    margin: 10px;
}

@media only screen and (min-width: 1200px) {
    #jobs {
        margin: 10px;

        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        column-gap: 50px;
        -moz-column-gap: 50px;
        -webkit-column-gap: 50px;

        position: absolute;
        left: 0;
        top: 0;
        width: 95%;
    }
}

.progress-bar {
    font-size: 25px;
    height: 50px;
    padding: 12px;
    text-align: left;
}

.progress {
    font-size: 30px;
    height: 50px;
}

.built {
    font-size: 15px;
    float: right;
    font-family: 'Helvetica';
    border-radius: 15px;
}

.failed {
    float: right;
    font-family: 'Helvetica';
    border-radius: 15px;
}

span.title {
    white-space: nowrap
}
