<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Radiator</title>
        <link rel="stylesheet" href="js/bootstrap/dist/css/bootstrap.min.css">

        <link rel="stylesheet" href="js/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
        <script src="js/vendor/jquery-1.8.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="js/vendor/underscore-1.4.2.min.js"></script>
        <script src="js/vendor/backbone-0.9.2.min.js"></script>

        <script src="js/conf.js"></script>
        <script src="js/main.js"></script>

        <script type="text/template" id="job-template">
            <% if (!_.isNull(lastBuild) && lastBuild.building) { %>
                <div class="progress-bar <%= previousColor %>" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" onclick="window.location='<%= url %><%= buildNumber %>/console';">
                    <span class="title"><%= displayName %></span>
            <% } else { %>
                <div class="progress-bar <%= color %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" onclick="window.location='<%= url %><%= buildNumber %>/console';">
                    <span class="title"><%= displayName %></span>
                    <span class="failed"><%= failCount %></span>
                    <span class="built"><%= lastBuilt %></span>
                    <% } %>
        </script>
    <body>
        <div id="jobs" class=".container"></div>
    </body>
</html>
